
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 239, 239);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-img {
  width: 160px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;}
  
.searchbar-container {
  display: flex;
  margin: auto;
  padding: 0 20px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.searchbar {
  margin: 10px auto 10px 10px;
  background-color: white;
}

.searchbar input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}

.searchbar-btn button {
  background-color: #0e6f9f;
  border: none;
  border-radius: 10px;
  height: 44px;
  color: white;
  padding: 10px 12px;
  margin-left: 10px;
}

.App-link {
  color: #61dafb;}

.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

input {
  width: 100%;
  padding: 10px;
}

.searchbar-container {
  display: flex;
  margin: 0px auto;
  padding: 0 20px;
  align-items: center;
}

.searchbar {
  background-color: white;
  margin-right: 5px;
}

.searchbar input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}

.searchbar-btn button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0e6f9f;
  border: none;
  border-radius: 10px;
  height: 44px;
  color: white;
  padding: 10px 12px;
  
}

.poke-card {
  position: relative;
  height: fit-content;
  font-family: 'Roboto Mono', monospace;
  max-width: 300px;
  border-radius: 4px;
  color: #000;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  background-color: #FFF;
  border: 1px solid black;
}

.poke-card::before {
  content: '';
  background: radial-gradient(black 33%, transparent 33%);
  background-size: 3px 3px;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -1;
}

.img-container {
  position: relative;
  width: 180px;
  margin: 10px auto;
}

.poke-stats div {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 5px;
  font-size: 13px;
}

.poke-stats-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  padding: 5px;
  font-size: 13px;
}

.poke-stats-bottom {
  background-color: #454952;
  color: white;
}

.poke-types div {
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  border: 1px dashed black;
}

.poke-img {
  width: 180px;
  border-radius: 50%;
}

.poke-alone {
  margin: auto;
  background-color: red;
  color: blue;
}

.form {
  display: flex;
  align-items: center;
  width: 300px;   
}

input {
  border: 2px solid black;
  margin-right: 5px;
}

button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.25rem;
  color: white;
  background-color: blue;

}



